.countdown {
    background-image: linear-gradient(35deg, red, purple);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.countdown__content {
    width: 60%;
    height: 100vh;
}

.countdown__heading {
    font-size: 60px;
    margin: 40px 0;
    font-weight: 700;
}

.seclect__group {
    border: 2px solid rgba(255, 255, 255, 0.8);
    width: 65%;
}

.countdown__select {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    padding: 16px;
    font-size: 25px;
    background-color: transparent;
    color: white;
    border: none;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em, linear-gradient(to left, rgba(255, 255, 255, 0.3) 3em, rgba(51, 2, 2, 0.2) 3em);
}

.countdown__select option {
    background-color: #320a28;
}

.time {
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.8);
    font-size: 30px;
    backdrop-filter: blur(6px);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 991.98px) {    
    .countdown__content {
        width: 85%;
    }

    .countdown__heading {
        font-size: 42px;
    }

    .seclect__group {
        width: 80%;
    }

    .countdown__select {
        font-size: 20px;
    }

    .countdown__select option {
        font-size: 20px;
    }

    .showDay {
        font-size: 20px;
        width: 80px;
        height: 80px;
    }
}

@media screen and (max-width: 767.98px) {
    .countdown__content {
        width: 85%;
    }

    .countdown__heading {
        font-size: 30px;
    }

    .seclect__group {
        width: 100%;
    }

    .countdown__select,
    .countdown__select option {
        font-size: 16px;
    }
}
